<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!--Reference to the css-->
        <!--Activate this piece of code to work within the Live Server-->
        <!--
            <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        -->
        <!--Deactivate this piece of code to work within the Live Server-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

        <!--Reference to the ol.js-->
        <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>    
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
        
          <title>I3: ParcelInsights</title> 
        <script>
          
        </script>
        
    </head>
    <body onload="init();">

        <!--Here a main container with its 3 child division containers is created-->
        <div id="container">
            <div id="upper_div">
                <div id="project_name">
                    <h2>ParcelInsights</h2>
                    <p>Unleashing the Power of Parcel Data Analysis</p>
                </div>
                <div id="logo">
                    <img src="/static/images/PI_logo.png" alt="ParcelInsights Logo">
                </div>
            </div>
            <div id="left_div">
                <div class="grid-1">
                    <div class="sidebar0">
                        <p><strong>Note:</strong> The visualized parcel data provided on ParcelInsights web map is narrowed down to the municipality of Lochen Am See in Upper Austria, for computational reasons. The manual entry can be used for the complete region of Upper Austria.</p>
                    </div>
                    <div class="sidebar1">
                        <h2>Generate a PDF Report (Guideline)</h2>
                    <p>
                        With Parcel Insights, you can easily generate PDF reports for your parcel data located in <span class="highlight">Upper Austria</span> region. Follow these simple steps to generate your parcel-based PDF report:
                    </p>
                    
                    <p><strong>Map Interaction:</strong> Explore the map by clicking on parcels of interest. Parcel details such as <span class="highlight">KG</span> (parcel administrative unit) and <span class="highlight">GNR</span> (parcel number) will be automatically extracted. Choose the basemap of your liking for easier navigation.</p>
                    <p><strong>Manual Entry:</strong> Alternatively, you can manually enter the KG and GNR values in the provided input fields.</p>
                    <p><strong>Generate PDF:</strong> After choosing one of two available methods, press the button to initiate the report generation process.</p>
                </div>
                <div class="sidebar2">
                    <h2>Base Layers</h2>
                    <input type="radio" name='baseLayerRadioButton' id="esriRadio", value='EsriWorldImagery' checked>EsriWorldImagery<br>
                    <input type="radio" name='baseLayerRadioButton' id="osmRadio", value='OSMStandard'>OpenStreetMap<br>
                </div>
                <div class="sidebar3">
                    <h2>Manual Entry </h2>
                    <div>
                        <label for="kgInput" class="input-label">Please insert KG value:</label>
                        <input type="text" id="kgInput" placeholder="e.g. Oberweissau">
                    </div>
                    
                    <div>
                        <label for="gnrInput" class="input-label">Please insert GNR value:</label>
                        <input type="text" id="gnrInput" placeholder="e.g. 434">
                    </div>
                    <div id="attributeValues"><strong>STATUS: </strong></div>
                    <button id="generatePdfButton" disabled>Generate PDF</button>
                </div>
                </div>
                <div class="grid-2">
                <div id='js-map' class='map'></div>
                </div>
            </div> 
            <div id="map"></div>
            <div id="lower_div">
                <p></p>
            </div>

        </div>  
            
        

        <!--reference to ol-->
        <script src="{{ url_for('static', filename='js/ol.js') }}"></script>
        <script type="text/javascript" src="http://viglino.github.io/ol-ext/dist/ol-ext.js"></script>
        <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v6.4.3/build/ol.js"></script>
        <script src="{{ url_for('static', filename='js/ol-layerswitcher.js') }}"></script>
        
        <!--reference to main js file-->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        

        
          
    </body>
</html>